.form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.textInput {
    grid-area: 1 / 1 / 2 / 4; 
    height: 45px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid grey;
    //border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .textInput:hover{
    border: 3px solid #bc96cb;
  }
  .textInput:focus{
    border: 3px solid #9b59b6;
  }

.radioButtons { 
    grid-area: 1 / 4/ 2 / 7;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.accentBlack {
    accent-color: black; 
    height: 17px;
    width: 17px;
}

.accentGreen {
    accent-color: rgb(125, 180, 88);
    height: 17px;
    width: 17px;
}

.accentRed {
    accent-color: rgb(218, 95, 95);
    height: 17px;
    width: 17px;
}

.radioLabel {
    padding-left: 5px;
}

.rowButton{
    grid-area: 1 / 7 / 2 / 9; 
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
          }
          .rowButton:hover{
           background: linear-gradient(-135deg, #71b7e6, #9b59b6);
           }

           .rowButton:active {
            transform: scale(0.95); 
           }
      