.fitTheGrid {
    padding-top: 15px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #535773;
}

.textOutputWrapper{
    grid-area: 1 / 1 / 2 / 7; 
    border-radius: 10px;
    padding-left: 10px;
}

.textOutput{   
    height: auto;
    background-color: whitesmoke;
    color: black;
    font-size: 14px;
    
}


