.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: white
}

.container {
  max-width: 700px;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: black;
  padding: 25px 30px 30px 30px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #373C59;
  height: 10vh;
  margin-bottom: 50px;
}

.title {
  font-size: xx-large;
  font-weight: 600;
}

.linkContainer {
  width: 100%;
  /* background-color: red; */
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* height: 30vh; */
}



.successorContainer {
  background-color: #535773;
  font-size: x-large;
  padding: 15px;
  width: 45%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.successorContainer:hover {
  background-color: #7F839C;
}




.stackContainer {
  background-color: #535773;
  font-size: x-large;
  padding: 15px;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.stackContainer:hover {
  background-color: #7F839C;
}

.descriptionContainer {
  padding-bottom: 20px;
}